<div class="login" >

   <img src="../../assets/images/login-bg.png" alt="image" class="login__bg">
   <div class="signup-stars"></div>
   <div class="signup-stars"></div>
   <div class="signup-stars"></div>
   <div class="signup-stars"></div>
   <div class="signup-stars"></div>
   <div class="signup-stars"></div>

   <form name="myForm" [formGroup]="loginForm" class="login__form">
      <!-- <h1 class="login__title">Login</h1> -->
      <div class="title">Login</div>

      <div class="login__inputs">
         <div class="login__box" [ngClass]="{'login__warning__border': loginForm.controls['username'].dirty && loginForm.hasError('required', 'username') || showError}">
            <input type="email" placeholder="Email ID" name="email" formControlName="username" required class="login__input">
            <i class="ri-mail-fill"></i>
         </div>
         <span class="text-danger" *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">* Email is required</span>

         <div class="login__box" [ngClass]="{'login__warning__border': loginForm.controls['password'].dirty && loginForm.hasError('required', 'password') || showError}">
            <input type="password" placeholder="Password" name="pass" formControlName="password" required class="login__input">
            <i class="ri-lock-2-fill"></i>
         </div>
         <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">* Password is required</span>
      </div>

      <div class="login__check">
            <div class="login__check-box">
            </div>
         <a href="#" class="login__forgot">Forgot Password?</a>
      </div>

      <button (click)="authenticate()" [disabled]="!loginForm.valid" ng-disabled="myForm.$invalid"  type="submit" class="login__button">Login</button>
      
      <div [hidden]="!showError" class="login__warning">
            <span>{{errorMessage}}</span>
      </div>

      <div class="login__register">
         Don't have an account? <a (click)="register()">Register</a> here.
      </div>
   </form>
</div>
