<div class="body">
    <div class="container">
        <div class="title">Enter new Password</div>
        <div class="content">
        <form name="myForm" [formGroup]="resetPasswordForm">
            <div class="user-details">               
            
                <div class="input-box" [ngClass]="{'login__warning__border': showError}">
                    <span class="details">Password <span class="required">*</span></span>
                    <input type="password" [ngClass]="{'signin__warning__border': resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password') || resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('invalidPassword', 'password') || showError}" 
                           placeholder="Enter your password" name="password" formControlName="password" required class="signin__input">
                    <span class="details signin__warning" *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')">
                        Password can not be empty.
                    </span>
                    <span class="details signin__warning" *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('invalidPassword', 'password')">
                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number.
                    </span>
                </div>
                <div class="input-box" [ngClass]="{'login__warning__border': showError}">
                    <span class="details">Confirm Password <span class="required">*</span></span>
                    <input type="password" [ngClass]="{'signin__warning__border': resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword') || resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('passwordMismatch', 'confirmPassword') || showError}" 
                           placeholder="Confirm your password" name="confirmPassword" formControlName="confirmPassword" required class="signin__input">
                    <span class="details signin__warning" *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required', 'confirmPassword')">
                        Confirm password can not be empty.
                    </span>
                    <span class="details signin__warning" *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('passwordMismatch', 'confirmPassword')">
                        Passwords should match.
                    </span>
                </div>
            </div>
            <div class="signin__warning" *ngIf="!isPasswordResetSuccess">Something went wrong. Please try again.</div>
            <div >
                <button class="button" value="Next" [disabled]="!resetPasswordForm.valid" (click)="ResetPassword()">Reset Password</button>
            </div>
            <div class="login__register">
             </div>
        </form>
    </div>
  </div>
  <section class="wrapper modal" *ngIf="isUserRegistrationSuccess">
      <div class="Otpcontainer modalcontainer">
          <!-- <div class="fw-normal text-muted mb-4 success-wrapper" style="width: 23%;height: 36%;border-radius: 0.75rem;"> -->
              <div class="success container" style="text-align: center">
                  <h3>
                      <!-- <i class="fa-solid fa-circle-check fa-2xl"></i> -->
                      <fa-icon class="circle-icon" [icon]="faCircleCheck"></fa-icon>
                  </h3>
                  <br/>
                  <h4>Welcome Aboard!</h4>
                  <br/>
                  <p>Your account has been succesfully created!</p>
                  <br/>
                  <button class="btn successBtn" (click)="login()">Continue</button>
              </div>
          <!-- </div> -->
      </div>
  </section>
</div>