<div class="body">
    <div class="container">
        <div class="title">Forgot Password?</div>
        <div class="content">
        <form name="myForm" [formGroup]="forgotPasswordForm">
            <div class="user-details">
                
            <div class="input-box" [ngClass]="{'login__warning__border': showError}">
                <span class="details">Email <span class="required">*</span></span>
                <input type="email" [ngClass]="{'signin__warning__border': forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email') || forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('email', 'email') || forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('userNameNotAvailable', 'email') || showError}" 
                       placeholder="Enter your email" name="email" formControlName="email" required class="signin__input">
                <span class="details signin__warning" *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required', 'email') || showError">
                    Email can not be empty.
                </span>
                <span class="details signin__warning" *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('email', 'email') || showError">
                    Email is not valid.
                </span>
                <span class="details signin__warning" *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('userNameNotAvailable', 'email') || showError">
                    Email not registered.
                </span>
            </div>
            </div>
            <div class="signin__warning" *ngIf="!isOTPSendSuccess">Something went wrong. Please try again.</div>
            <div >
                <button class="button" value="Next" [disabled]="!forgotPasswordForm.valid" (click)="enterOTP()">Reset Password</button>
            </div>
            <div class="login__register">
                Remember your password? <a (click)="login()">Login</a> here.
             </div>
        </form>
    </div>
  </div>
  <section class="wrapper modal" *ngIf="isVisibleModal">
    <div class="Otpcontainer modalcontainer">
        <div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-3 col-xl-4 offset-xl-3 text-center">
            <div class="logo">
                <img src="../../assets/images/logo/otp_logo.png" class="img-fluid" alt="logo">
            </div>
            <form class="rounded bg-white shadow p-3">
                <h3 class="text-dark fw-bolder fs-4 mb-2">OTP Verification</h3>

                <div class="fw-normal text-muted mb-4">
                    Enter the 6 digit verification code received on your email <span><b>{{maskedEmail}}</b></span>
                </div>
                <div class="otp_input text-start mb-4">
                    <label>Verification code</label> 
                    <fa-icon class="icon" [icon]="faInfoCircle" title="Verification code will expire in "></fa-icon>
                    <b><span [ngClass]="{'danger':OTPDanger}">{{displayOTP}}</span></b>
                    <div class="d-flex align-items-center justify-content-between mt-2 otp-holder">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6, allowNumbersOnly:true}"></ng-otp-input>
                    </div> 
                    <div class="signin__warning" style="text-align: center; padding-top: 10px;" *ngIf="isResetPasswordError">
                        {{validationMsgOTP}}
                    </div>
                </div>  

                <span [ngClass]="{'disabledAnchor':!enableOTPSubmit}">
                    <button type="submit" class="btn btn-primary submit_btn my-4" (click)="SubmitOTP()" [disabled]="!enableOTPSubmit">Submit</button> 
                </span>

                <div class="fw-normal text-muted mb-2">
                    Didn’t get the code ?
                    <span [ngClass]="{'disabledAnchor':disableResend}">
                        <input type="button" class="btn btn-link plainLink" value="Resend" [disabled]="disableResend" (click)="enterOTP()" />
                    </span>
                    <fa-icon class="icon" [icon]="faInfoCircle" [title]="resendMailTooltip"></fa-icon>
                </div>
            </form>
        </div>
    </div>
  </section>
    <section class="wrapper modal" *ngIf="isResetPasswordSuccess">
        <div class="Otpcontainer modalcontainer">
            <!-- <div class="fw-normal text-muted mb-4 success-wrapper container" style="height: 36%;border-radius: 0.75rem;"> -->
                <div class="success container" style="text-align: center">
                    <h3>
                        <!-- <i class="fa-solid fa-circle-check fa-2xl"></i> -->
                        <fa-icon class="circle-icon" [icon]="faCircleCheck"></fa-icon>
                    </h3>
                    <h4>Done!</h4>
                    <br/>
                    <p>Your link to reset the password is shared to your registered email. Please check your inbox. </p>
                    <button class="btn successBtn" (click)="login()">Continue</button>
                </div>
            <!-- </div> -->
        </div>
    </section>
</div>